<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostConfiguration" type="ThriftS.Service.HostConfigurationSetion,ThriftS.Service"/>
  </configSections>
  <hostConfiguration defaultHost="default">
    <hosts>
      <host name="default" thriftPort="8384" httpPort="18384" minThreadPoolSize="5" maxThreadPoolSize="20" clientTimeout="0" useBufferedSockets="false">
        <services>
          <service contract="" contractAssembly="" handler="" handlerAssembly=""/>
        </services>
      </host>
    </hosts>
  </hostConfiguration>
</configuration>